﻿@model CountriesWebModel.CountriesModel
@{
    ViewBag.Title = "Добавить страну в список";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить страну</h2><hr />
@using (Html.BeginForm("AddCountry", "Countries", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
                @Html.Label("Загрузка изображения флага")
        @Html.HiddenFor(m => m.FlagBinary)
        <input type="file" name="test" />
        <br />
        <input type="submit" value="Ок" /><button type="submit" formaction="javascript:history.go(-1);">Отмена</button>
    </fieldset>
}

