﻿@model PagedList.IPagedList<CountriesWebModel.CountriesModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Список стран";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddCountry", "Countries", method: FormMethod.Get))
{
    <button type="submit">Добавить страну в список</button>
}
<hr />
<br />
<br />
<div id="results">
    @Html.Action("CountriesListPartial","Countries")
</div>     

@Scripts.Render("~/scripts/jquery-1.8.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")


@section scripts
    {
    <script language="javascript" type="text/javascript">
        $(function () {
            $(document).on("click", "#Pager a", function (event) {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        var href = event.target.getAttribute('href');
                        if (href == null)
                            return false;
                        $('#results').html(result);
                    }
                });
                return false;
            });
        });

        $(function () {
            $("#FindForm").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: $("#FindForm").attr('action'),
                    data: $("#FindForm").serialize(),
                    type: 'POST',
                    success: function (data) {
                        $('#results').html(data);
                    }
                });
            });
        });

        $(function () {
            $("#CountForm").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: $("#CountForm").attr('action'),
                    data: $("#CountForm").serialize(),
                    type: 'POST',
                    success: function (data) {

                        $('#results').html(data);
                    }
                });
            });
        });
    </script>
}