﻿@model PagedList.IPagedList<CountriesWebModel.CountriesModel>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<table cellpadding="4" border="1" class="list">
    <tr>
        <td class="col-1-4"><font size="3" , color="Black">Страна</font></td>
        <td><font size="3" , color="Black">Столица</font></td>
        <td><font size="3" , color="Black">Население</font></td>
        <td><font size="3" , color="Black">Площадь, км<sup>2</sup></font></td>
        <td><font size="3" , color="Black">Материк</font></td>
    </tr>
    @foreach (var country in Model)
    {
        <tr>
            <td class="col-1-4">
                @if(country.FlagBinary != null)
                { 
                @Html.Raw("<img style='width:44px; height:22px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(country.FlagBinary) + "\" />")
                }
                    <a href="ViewCountry/@country.CountryId"><font size="3">@country.CountryName</font></a>
            </td>
            <td>@country.Capital</td>
            <td>@country.Population</td>
            <td>@country.Area</td>
            <td>@country.Continent</td>
        </tr>
    }
</table>
<p>
    Показаны страны @(Model.TotalItemCount < Model.FirstItemOnPage ? 0 : Model.FirstItemOnPage) - @Model.LastItemOnPage
    из @Model.TotalItemCount
</p>

<div id="Pager">
    @Html.PagedListPager(Model, page => Url.Action("CountriesListPartial", new { page, CurrentSearch = ViewBag.CurrentSearch, pageSize = ViewBag.PageSize }))
</div>

<table>
    <tr>

        <td class="col-30">
            @using (Ajax.BeginForm("CountriesListPartial", new { CurrentSearch = ViewBag.CurrentSearch }, new AjaxOptions { UpdateTargetId = "results" }, new { id = "CountForm" }))
            {
                <input type="text" name="pageSize" value=@ViewBag.PageSize style="width:20px;">
                <input type="submit" value=" Количество стран на странице" width="1" />
            }
        </td>

        <td align="right">
            @using (Ajax.BeginForm("CountriesListPartial", new { PageSize = ViewBag.PageSize, CurrentSearch = ViewBag.CurrentSearch }, new AjaxOptions { UpdateTargetId = "results" }, new { id = "FindForm" }))
            {
                @Html.TextBox("searchstring", ViewBag.CurentSearch as string)
                <input type="submit" value="Найти" />
            }
        </td>
    </tr>
</table>

@Scripts.Render("~/scripts/jquery-1.8.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")


