﻿@model CountriesWebModel.CountriesModel
@{
    ViewBag.Title = @Model.CountryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="@Url.Content("~/Scripts/knockout-3.3.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"></script>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")

<meta charset="utf-8">

<h2 id="CountryName">
    <span hidden>
        <input data-bind="value : CountryName" name="CountryName" type="text" onchange="ActivateHook()" />
        <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        <span data-bind="validationMessage: CountryName"></span>
    </span>
    <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: CountryName"></span>
</h2>

<ul id="label">
    <li id="Capital">
        Capital:
        <span hidden>
            <input data-bind="value : Capital" name="Capital" type="text" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: Capital"></span>
    </li>
    <li id="Population">
        Population:
        <span hidden>
            <input data-bind="value : Population" name="Population" type="number" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: Population"></span>
    </li>
    <li id="Area">
        Area:
        <span hidden>
            <input data-bind="value : Area" name="Area" type="number" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: Area"></span>
    </li>
    <li id="CommonLanguage">
        Common Language:
        <span hidden>
            <input data-bind="value : CommonLanguage" name="CommonLanguage" type="text" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: CommonLanguage"></span>
    </li>
    <li id="Currency">
        Currency:
        <span hidden>
            <input data-bind="value : Currency" name="Currency" type="text" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: Currency"></span>
    </li>
    <li id="Government">
        Government:
        <span hidden>
            <input data-bind="value : Government" name="Government" type="text" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: Government"></span>
    </li>
    <li id="Continent">
        Continent:
        <span hidden>
            <input data-bind="value : Continent" name="Continent" type="text" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: Continent"></span>
    </li>
    <li id="PhoneCode">
        Phone Code: +
        <span hidden>
            <input data-bind="value : PhoneCode" name="PhoneCode" type="number" onchange="ActivateHook()" />
            <button onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</button>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: PhoneCode"></span>
    </li>
    <li id="TimeZone">
        Time Zone:
        <span hidden>
            <input data-bind="value : TimeZone" name="TimeZone" type="text" onchange="ActivateHook()" />
            <span onclick="TextOrEditable(this.parentNode, 1)" class="remove-button">[x]</span>
        </span>
        <span onclick="TextOrEditable(this, 0)" id="i" data-bind="text: TimeZone"></span>
    </li>
</ul>
<div id="Flag">
    <span onclick="TextOrEditable(this, 1)">
        @Html.Raw("<img id=\"i\" onclick=\"(TextOrEditable(this,1)\" style='width:200px; height:100px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.FlagBinary) + "\" />")
    </span>
    <div hidden><input type="file" id="imageLoad" /></div>
</div>

<button id="Save" onclick="Save()" data-bind="visible: hook">Save</button>

<script type="text/javascript">
    var viewModel = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
    viewModel.hook = ko.observable(false);
    ko.applyBindings(viewModel);
    var val;

    function ActivateHook() {
        viewModel.hook(true);
    }

    window.onbeforeunload = function () {
        if (viewModel.hook()) {
            return "Did you save your stuff?"
        }
    }

    function TextOrEditable(node, i) {
        node.parentNode.children[i].removeAttribute("hidden");
        node.setAttribute("hidden", "");
    }

    var data = new FormData();

    $('#imageLoad').on('change', function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                data;
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function Save() {
        var c = ko.mapping.toJS(viewModel);
        var flag = String(viewModel.FlagBinary());
        for (key in c) {
            if(key == "FlagBinary")
                data.append("flag", String(c[key]));
            else 
                data.append(key, c[key]);
                
        }
        $.ajax({
            url: "http://localhost:55486/Countries/EditCountry",
            contentType: false,
            processData: false,
            type: 'POST',
            data: data,
            success: function (res) {
                viewModel.hook(false);
                if (res === 'True') {  }
                else { alert("Error"); }
                location.reload(true);
            }
        });
    }
    var showingTooltip;

    document.onmouseover = function (e) {
        var target = e.target;
        var field = target.id;
        if (field != "i") return;

        var coords = target.getBoundingClientRect();
        var Elem = document.createElement('div');
        Elem.className = 'note';
        Elem.innerHTML = "<img alt=\"Edit\" style='width:20px; height:20px;' src=\"http://s1.iconbird.com/ico/2013/6/304/w128h1281371731173supermono3dpart204.png\"/>";
        document.body.appendChild(Elem);
        Elem.style.left = coords.left + target.offsetWidth + "px";
        Elem.style.top = coords.top + "px";

        showingTooltip = Elem;
    }

    document.onmouseout = function (e) {
        if (showingTooltip) {
            document.body.removeChild(showingTooltip);
            showingTooltip = null;
        }
    };
</script>
