﻿@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

@if (Request.IsAuthenticated)
{
    <h1>Здравствуйте</h1>
}
else
{
    <h1> <font color="Red">Для просмотра стран необходимо зарегистрироваться, либо войти в стистему</font></h1>
}
